<div class="side-body-content">
    <div class="row">
        <div class="col-xs-12">
            <div my-shared-scope></div>
            <form name="form" class="form" role="form" ng-submit="form.$valid && submit()" novalidate>
                <div class="main-content-wrapper">
                    <div class="main-content-title">
                        <div class="row">
                            <h4 class="col-xs-12">
                                {{contentTitle}}
                                <span class="pull-right">
                                    <button class="btn btn-default" type="submit" ng-click="submitted=true;" ng-disabled="!button" class="btn button">Save</button>
                                    <a ui-sref="organization-detail({organizationId:organizationId})">
                                        <button class="btn btn-default">Cancel</button>
                                    </a>
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="main-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="side-body-inner-content">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && form.name.$invalid}">
                                        <label for="name">Building Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="" ng-model="building.name" required>
                                        <p ng-show="submitted && form.name.$error.required" class="help-block has-error">Required</p>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && form.totalUnits.$invalid}">
                                        <label for="totalUnits">Total Units</label>
                                        <input type="text" class="form-control" name="totalUnits" id="totalUnits" placeholder="" ng-model="building.totalUnits" required>
                                        <p ng-show="submitted && form.totalUnits.$error.required" class="help-block has-error">Required</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="street">Street</label>
                                        <input type="text" class="form-control" id="street" placeholder="" ng-model="building.street">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" placeholder="" ng-model="building.city">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" id="state" placeholder="" ng-model="building.state">
                                    </div>
                                    <div class="form-group">
                                        <label for="zip">Zip</label>
                                        <input type="text" class="form-control" id="zip" placeholder="" ng-model="building.zip">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control" id="phone" placeholder="" ng-model="building.phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
