<div class="row" ng-controller="MainCtrl">

    <div class="col-sm-6">
        <div>
            Building Information Active Units/Total Units<br>
            {{dashboard.activeUnits}}/{{dashboard.totalUnits}}
        </div>
    </div>
    <img src="../../images/fullscreen_icon.png" id="fullscreen_icon" ng-click="goFullscreen()">

    <!--
    <div class="fb-page" data-href="https://www.facebook.com/groups/EastRiverTower/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
    -->
</div>
