<div class="side-body-content">
    <div class="row">
        <div class="col-xs-12">
            <div my-shared-scope></div>
            <form name="form" class="form" role="form" ng-submit="submit()" novalidate>
                <div class="main-content-wrapper">
                    <div class="main-content-title">
                        <div class="row">
                            <h4 class="col-xs-12">
                                Role List
                                <span class="pull-right">
                                    <a ui-sref='role-new({organizationId:organizationId, buildingId:buildingId})' has-any-authority="ROLE_ADMIN, ROLE_ORGANIZATION_SUBSCRIBER, ROLE_PUT">
                                        <button class="btn btn-default">
                                            Add
                                        </button>
                                    </a>
                                    <a ui-sref="organization-detail({organizationId:organizationId})">
                                        <button class="btn btn-default">
                                            Back
                                        </button>
                                    </a>
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="main-content">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="side-body-inner-content">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                                            <th>Action</th>
                                            </thead>
                                            <tbody ng-repeat="role in roles | orderBy:predicate:reverse">
                                            <td>{{role.name}}</td>
                                            <td>
                                                <a ui-sref="role-edit({organizationId:organizationId, buildingId:buildingId, roleId:role.id})" has-any-authority="ROLE_ADMIN, ROLE_ORGANIZATION_SUBSCRIBER, ROLE_PUT"><button class="btn btn-default">Edit</button></a>
                                            </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



