<div id="login-page" class="ng-scope">
    <div class="flex">
        <div style="width:100%">
            <img id="logo" class="displayed" src="/assets/images/OZAY_LOGIN_bg.png" width="90%">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="alert alert-danger" ng-show="authenticationError">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                        <form class="form" role="form" ng-submit="login($event)">
                            <div class="alert alert-danger ng-scope ng-hide" ng-show="authenticationError" translate="login.messages.error.authentication"><strong>Authentication failed!</strong> Please check your credentials and try again.</div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" placeholder="Your username" ng-model="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Your password" ng-model="password">
                            </div>
                            <div class="alert alert-warning">
                                <a class="alert-link" href="#/reset/request">Did you forget your password?</a>
                            </div>
                            <div class="form-group">
                                <button id="login-btn" type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
